In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list
ages.sort()

# Find the min and max age
min_age = ages[0]
max_age = ages[-1]

# Add min and max age again to the list
ages.append(min_age)
ages.append(max_age)

# Find the median age
middle_index = len(ages) // 2
if len(ages) % 2 == 0:
    median_age = (ages[middle_index - 1] + ages[middle_index]) / 2
else:
    median_age = ages[middle_index]

# Find the average age
average_age = sum(ages) / len(ages)

# Find the range of ages
age_range = max_age - min_age

# Print the results
print("Sorted Ages:", ages)
print("Min Age:", min_age)
print("Max Age:", max_age)
print("Median Age:", median_age)
print("Average Age:", average_age)
print("Age Range:", age_range)

Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Min Age: 19
Max Age: 26
Median Age: 24.0
Average Age: 22.75
Age Range: 7

In [1]:
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, and age to the dog dictionary
dog["name"] = "Booster"
dog["color"] = "Black "
dog["breed"] = "Rottweiler"
dog["legs"] = 4
dog["age"] = 2

# Create a student dictionary
student = {
    "first_name": "Michael",
    "last_name": "Jackson",
    "gender": "Male",
    "age": 25,
    "marital_status": "Single",
    "skills": ["Programming", "Problem Solving"],
    "country": "USA",
    "city": "New York",
    "address": "502 S Main St"
}

# Get the length of the student dictionary
student_length = len(student)

# Get the value of skills and check the data type
skills_value = student["skills"]
skills_data_type = type(skills_value)

# Modify the skills values by adding one or two skills
student["skills"].append("Communication")
student["skills"].append("Teamwork")

# Get the dictionary keys as a list
student_keys = list(student.keys())

# Get the dictionary values as a list
student_values = list(student.values())

# Print the results
print("Dog Dictionary:", dog)
print("Student Dictionary:", student)
print("Student Dictionary Length:", student_length)
print("Data Type of Skills Value:", skills_data_type)
print("Modified Skills:", student["skills"])
print("Dictionary Keys:", student_keys)
print("Dictionary Values:", student_values)

Dog Dictionary: {'name': 'Booster', 'color': 'Black ', 'breed': 'Rottweiler', 'legs': 4, 'age': 2}
Student Dictionary: {'first_name': 'Michael', 'last_name': 'Jackson', 'gender': 'Male', 'age': 25, 'marital_status': 'Single', 'skills': ['Programming', 'Problem Solving', 'Communication', 'Teamwork'], 'country': 'USA', 'city': 'New York', 'address': '502 S Main St'}
Student Dictionary Length: 9
Data Type of Skills Value: <class 'list'>
Modified Skills: ['Programming', 'Problem Solving', 'Communication', 'Teamwork']
Dictionary Keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Dictionary Values: ['Michael', 'Jackson', 'Male', 25, 'Single', ['Programming', 'Problem Solving', 'Communication', 'Teamwork'], 'USA', 'New York', '502 S Main St']

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

# Find the length of the set it_companies
num_it_companies = len(it_companies)

# Print the result
print("Number of IT Companies:", num_it_companies)

Number of IT Companies: 7

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

# Add 'Twitter' to it_companies
it_companies.add('Twitter')

# Print the updated set
print("Updated IT Companies Set:", it_companies)

Updated IT Companies Set: {'Twitter', 'Microsoft', 'Facebook', 'IBM', 'Oracle', 'Amazon', 'Apple', 'Google'}

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

# Insert multiple IT companies at once
it_companies.update(['Twitter', 'LinkedIn', 'Netflix'])

# Print the updated set
print("Updated IT Companies Set:", it_companies)

Updated IT Companies Set: {'Twitter', 'Facebook', 'IBM', 'LinkedIn', 'Microsoft', 'Netflix', 'Google', 'Oracle', 'Amazon', 'Apple'}

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

# Remove 'IBM' from it_companies
it_companies.remove('IBM')

# Print the updated set
print("Updated IT Companies Set:", it_companies)
# Difference between remove and discard:
# The remove() method raises an error if the element doesn't exist, while discard() doesn't raise an error.

Updated IT Companies Set: {'Microsoft', 'Facebook', 'Oracle', 'Amazon', 'Apple', 'Google'}

In [ ]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Join A and B using .union()
joined_set_union = A.union(B)

# Join A and B using the | operator
joined_set_operator = A | B

# Print the results
print("Joined Set using .union():", joined_set_union)
print("Joined Set using | operator:", joined_set_operator)

Joined Set using .union(): {19, 20, 22, 24, 25, 26, 27, 28}
Joined Set using | operator: {19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Find the intersection of A and B using .intersection()
intersection_set_method = A.intersection(B)

# Find the intersection of A and B using the & operator
intersection_set_operator = A & B

# Print the results
print("Intersection Set using .intersection():", intersection_set_method)
print("Intersection Set using & operator:", intersection_set_operator)

Intersection Set using .intersection(): {19, 20, 22, 24, 25, 26}
Intersection Set using & operator: {19, 20, 22, 24, 25, 26}

In [ ]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Check if A is a subset of B
is_subset = A.issubset(B)

# Print the result
print("Is A a Subset of B:", is_subset)

Is A a Subset of B: True

In [ ]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Check if A and B are disjoint sets
are_disjoint = A.isdisjoint(B)

# Print the result
print("Are A and B Disjoint:", are_disjoint)

Are A and B Disjoint: False

In [ ]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Join A with B using .union()
joined_AB = A.union(B)

# Join B with A using .union()
joined_BA = B.union(A)

# Print the results
print("Joined Set (A union B):", joined_AB)
print("Joined Set (B union A):", joined_BA)

Joined Set (A union B): {19, 20, 22, 24, 25, 26, 27, 28}
Joined Set (B union A): {19, 20, 22, 24, 25, 26, 27, 28}

In [ ]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Calculate the symmetric difference using .symmetric_difference()
symmetric_diff_method = A.symmetric_difference(B)

# Calculate the symmetric difference using ^ operator
symmetric_diff_operator = A ^ B

# Print the results
print("Symmetric Difference (A symmetric difference B):", symmetric_diff_method)
print("Symmetric Difference (A symmetric difference B) using ^ operator:", symmetric_diff_operator)

Symmetric Difference (A symmetric difference B): {27, 28}
Symmetric Difference (A symmetric difference B) using ^ operator: {27, 28}

In [ ]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Delete the sets completely
del A
del B

# Try to access the sets (will result in NameError)
try:
    print(A)
except NameError as e:
    print("Error:", e)

try:
    print(B)
except NameError as e:
    print("Error:", e)

Error: name 'A' is not defined
Error: name 'B' is not defined

In [ ]:
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Convert the ages to a set
age_set = set(age)

# Compare the length of the list and the set
age_list_length = len(age)
age_set_length = len(age_set)

# Print the results
print("Length of Age List:", age_list_length)
print("Length of Age Set:", age_set_length)

Length of Age List: 8
Length of Age Set: 5

In [ ]:
class Employee:
    employee_count = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.employee_count += 1

    def average_salary(self):
        total_salary = self.salary + sum(self.family)
        num_people = len(self.family) + 1  # Include the employee
        return total_salary / num_people

class FulltimeEmployee(Employee):
    pass

# Create an instance of the Employee class
employee = Employee("John Doe", [20000, 25000], 60000, "HR")

# Create an instance of the FulltimeEmployee class
fulltime_employee = FulltimeEmployee("Alice Smith", [], 80000, "IT")

# Call member functions
employee_avg_salary = employee.average_salary()
fulltime_employee_avg_salary = fulltime_employee.average_salary()

# Print the results
print("Employee Average Salary:", employee_avg_salary)
print("Fulltime Employee Average Salary:", fulltime_employee_avg_salary)
print("Total Employee Count:", Employee.employee_count)

Employee Average Salary: 35000.0
Fulltime Employee Average Salary: 80000.0
Total Employee Count: 2